################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuickBaseTestAutomation
/QuickBase.TestAutomation.Core/bin/Debug/net8.0
/QuickBase.TestAutomation.Core/obj
/QuickBaseTestAutomation/bin/Debug/net8.0
/QuickBaseTestAutomation/obj
/QuickBaseTestAutomation/TestResults/TestResults.trx
/.vs/ProjectEvaluation
/TestResultMailer/bin/Release/net8.0
/TestResultMailer/obj
/QuickBase.TestAutomation.Core/bin/Release/net8.0
/QuickBaseTestAutomation/allure-report
/QuickBaseTestAutomation/bin/Release/net8.0
/TestResultMailer/bin/Debug/net8.0
/QuickBaseTestAutomation/QuickBase.TestAutomationSuite.csproj.Backup.tmp
